

.feed{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    color: aquamarine;
}
.card-text{
    color: rgb(231, 108, 108);

}
.subm{
height: 25px
}
.close{
    position: absolute;
    left: 55%;
    bottom: 13%;
    
}
.boxy{
   width: 85%;
}

.chowtext{
    font-size: small;
}
.card-img-top{

    height: 180px;
}.chow{
    height: 400px;
}
.li{
text-decoration: none;
}

