.abc{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 221);
}
.cde{
    width: 100px;
    height: 100px;
    background-color: rgb(184, 252, 26);
    position: absolute;
    top:50px;
    left: 40px;
    z-index: -1;

}